.main
{
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    background-color: #ebebeb;
    height:100%;
    width:90%;
    text-align: center;
    align-items: center;
}

.img-inception{
    max-width:300px;
}
.p-inception{

}
.kontenjer{
    text-align: center;
    margin-top:100px;
}