.main
{
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
    margin-top: -100px;
    background-color: #ebebeb;
    height:100%;
    width:90%;
   
  
}
.lotr-trilogy-title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style:normal;
    font-weight:300;
}
#wiki-logo{
    text-align: center;
}
#lotr-trilogy-wiki-link{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 36px;
}
.img-lotr{
    width:50%;
    cursor: pointer;
    transition: 0.3s;
}
.carousel-img-lotr{
    cursor: pointer;
    transition: 0.3s;
}
.carousel-inner>.active {
    height: 400px; 
  }
.about-us{
    margin-top:30px;
    padding-top:30px;
    text-align: justify;
  margin: 0 auto;
  width: 30em;
}
#imdb-logo{
    background-image: url("/images/imdblogo.png");
    background-size:cover;
    height:50px;
    width:100px;
    margin-bottom:10px;
}
.logo-buttons{
    height:200px;
    -ms-flex-align: center!important;
    align-items: center!important;
    text-align: center;
}
#lotr2-wiki{
    background-image: url("/images/wikilogo2.png");
    background-size:cover;
    height:50px;
    width:300px;
    margin-left:20px;
    margin-bottom:10px;
}
#img-lotr1:hover {opacity: 0.85;}

#img-lotr2:hover {opacity: 0.85;}
.our-images{
    width:400px;
    height:100%;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
}
#firstcol-lotr1{
    text-align: center;
}
.soundtrack-container{
    align-items: center;
    text-align: center;
    border-top: solid;
    border-top-width: 2px;
    padding-top: 20px;
    border-bottom: solid;
    border-bottom-width: 2px;
    padding-bottom: 30px;
    border-top-color: #696a6b;
    border-bottom-color: #696a6b;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  /* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width:1000px;
  }
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  /* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  .index-footer{
    background-color: #1c1c1c;
    height:350px;
  }
  .footer-text{
    color: #dbdbdb;
    padding-top:200px;
  }